/magento/.buildpath
/magento/.cache
/magento/.metadata
/magento/.project
/magento/.settings
/magento/.vscode
atlassian*
/magento/nbproject
/magento/robots.txt
/magento/pub/robots.txt
/magento/sitemap
/magento/sitemap.xml
/magento/pub/sitemap
/magento/pub/sitemap.xml
/magento/.idea
/magento/.gitattributes
/magento/app/config_sandbox
/magento/app/etc/env.php
/magento/app/code/Magento/TestModule*
/magento/lib/internal/flex/uploader/.actionScriptProperties
/magento/lib/internal/flex/uploader/.flexProperties
/magento/lib/internal/flex/uploader/.project
/magento/lib/internal/flex/uploader/.settings
/magento/lib/internal/flex/varien/.actionScriptProperties
/magento/lib/internal/flex/varien/.flexLibProperties
/magento/lib/internal/flex/varien/.project
/magento/lib/internal/flex/varien/.settings
/magento/node_modules
/magento/.grunt
/magento/Gruntfile.js
/magento/package.json
/magento/.php_cs
/magento/.php_cs.cache
/magento/grunt-config.json
/magento/pub/media/*.*
!/pub/media/.htaccess
/magento/pub/media/attribute/*
!/pub/media/attribute/.htaccess
/magento/pub/media/analytics/*
/magento/pub/media/catalog/*
!/pub/media/catalog/.htaccess
/magento/pub/media/customer/*
!/pub/media/customer/.htaccess
/magento/pub/media/downloadable/*
!/pub/media/downloadable/.htaccess
/magento/pub/media/favicon/*
/magento/pub/media/import/*
!/pub/media/import/.htaccess
/magento/pub/media/logo/*
/magento/pub/media/custom_options/*
!/pub/media/custom_options/.htaccess
/magento/pub/media/theme/*
/magento/pub/media/theme_customization/*
!/pub/media/theme_customization/.htaccess
/magento/pub/media/wysiwyg/*
!/pub/media/wysiwyg/.htaccess
/magento/pub/media/tmp/*
!/pub/media/tmp/.htaccess
/magento/pub/media/captcha/*
/magento/pub/static/*
!/pub/static/.htaccess

/magento/var/*
!/var/.htaccess
/magento/vendor/*
!/vendor/.htaccess
/magento/generated/*
!/generated/.htaccess
.DS_Store
/nginx_logs/*
/reverse-proxy/logs/*
/reverse-proxy/var/*